@font-face {
  font-family: "Yaldevi Colombo";
  font-style: normal;
  font-weight: 400;
  src: local("Yaldevi Colombo Regular");
  src:
    url("../fonts/woff2/YaldeviColombo-Regular.woff2") format("woff2"),
    url("../fonts/YaldeviColombo-Regular.woff") format("woff"),
}
@font-face {
  font-family: "Yaldevi Colombo";
  font-style: normal;
  font-weight: 700;
  src: local("Yaldevi Colombo Bold");
  src:
    url("../fonts/woff2/YaldeviColombo-Bold.woff2") format("woff2"),
    url("../fonts/YaldeviColombo-Bold.woff") format("woff"),
}
